@font-face {
    font-family: "Concert One";
    src: local(Concert One), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format("truetype");  
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
}

.logo-header {
    font-family: Concert One;
    color: #161616;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button {
    cursor: pointer;
    float: right;
    background-color: #161616;
    color: #ffffff;
    padding: 0 50px;
    border-radius: 5px;
}

button {
    margin: 10px 10px 10px auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    width: 70%; 

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
}

.home {
    text-align: center;
}

.grade {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin: 15px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-photo1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img1 {
    position: relative;
    bottom: 4px;
    left: 4px;
}

.span1 {
    position: relative;
    left: 8px;
    bottom: 3px;
}

.img2 {
    position: relative;
    left: 25px;
    bottom: 4px;
}

.span2 {
    position: relative;
    left: 30px;
    bottom: 3px;
}

.container-icons {
    position: relative;
}

.icons {
    display: flex;
    background-color: #4b4242af;
    position: absolute;
    bottom: 4px;
    padding-right: 40px;
    padding-top: 10px;
}

.gallery-photo2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery-photo3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
}

.gallery-photo4 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 11;
}

.gallery-photo5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
}

.gallery-photo6 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 10;
}

.gallery-photo7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 11;
}

.gallery-photo8 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 11;
}

footer {
    background-color: #161616;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.icones-footer {
    margin: 0 20px;
}

.nome-footer {
    color: white;
    font-family: Concert One;
    margin-top: auto;
    margin-bottom: auto;
}

.credito-footer {
    color: white;
}